<!DOCTYPE html>
<html>

  <body>
    <h1>Scythe Score Keeper</h1>
    <button id="add-player-button">Add a player</button>
    <div id="player-one">
      <h2>Player 1</h2>
      <p id="player-one-text"></p>
      <p id="player-one-player-mat"></p>
    </div>
    <div id="player-two">
      <h2>Player 2</h2>
      <p id="player-two-text"></p>
      <p id="player-two-player-mat"></p>
    </div>
    <div id="player-three">
      <h2>Player 3</h2>
      <p id="player-three-text"></p>
      <p id="player-three-player-mat"></p>
    </div>
    <div id="player-four">
      <h2>Player 4</h2>
      <p id="player-four-text"></p>
      <p id="player-four-player-mat"></p>
    </div>
    <div id="player-five">
      <h2>Player 5</h2>
      <p id="player-five-text"></p>
      <p id="player-five-player-mat"></p>
    </div>
    <div id="player-six">
      <h2>Player 6</h2>
      <p id="player-six-text"></p>
      <p id="player-six-player-mat"></p>
    </div>
    <div id="player-seven">
      <h2>Player 7</h2>
      <p id="player-seven-text"></p>
      <p id="player-seven-player-mat"></p>
    </div>

  </body>

</html>