@import "bootstrap-sprockets";
@import "bootstrap";

/* universal styles */
body {
  min-width: 408px;
}

center {
  text-align: center;
}

/* navbar */


/* typography */

h2 {
  text-align: center;
}

/* player area */
.player {
  text-align: center;
  max-width: 400px;
  display: none;
  min-width: 188px;
}

img {
  width: 50px;
  height: 50px;
}

.game-started {
  display: none;
}

.score-input {
  max-width: 35px;
}

.faction-icon {
  width: 100px;
  height: 100px;
  padding-bottom: 10px;
}