<!-- Footer -->
<footer class="page-footer font-small fixed-bottom bg-dark">

  <div class="footer-copyright text-center py-3">
    This is a third-party app designed by Nick Killin.  All product names are trademarks of their respective owners, which are in no way associated or affiliated with this app. 
  </div>

</footer>
<!-- Footer -->