<header>
    <navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Scythe Score Keeper", '#', class: "navbar-brand mr-auto" %>
      <button class="btn btn-primary mx-2" style="inline; display: none;" id="start-game-button">Start Your Game</button>
      <button class="btn btn-primary mx-2" style="inline;" id="add-player-button">Add a player</button>
    </navbar>
</header>